<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="iCAM Application Automation Test Suite"parallel="classes">

	 <listeners>
		<listener class-name="com.qa.ExtentReportListner.ExtentReporterNG" />
	</listeners>

	<test name="iCAM Application Test">
	
		<classes>
			<class name="com.icam.qa.testcases.CreateResidenceType"></class>
			<class name="com.icam.qa.testcases.UploadAssignmentTest"></class>	  		
		</classes>
		
	</test>
	
</suite>